<ion-content class="cont" >
<div *ngIf="showSplash" class="myBackground">
    <div>
    <img src="/assets/giphy.gif">
</div> 
</div> 
  <ion-grid>
    <ion-row class ="myrow" >
      <ion-col size="12">
        <div class="wrapper" >
          <div class="wave"></div>
          <div>
          
          <ion-button class="back" (click)= "backClick()"  shape="round" color="sub.severityLevel" style="color:black">
              <ion-icon name="arrow-round-back" ></ion-icon>
              
          </ion-button>
          </div>

          <div >
              <h1 class="centered">
                <ion-input clearInput #Name disabled={{notEnable}} (ionChange)="changeName()" #Name [(ngModel)]="myName" floating>
                     {{doctorName}}
                 </ion-input>
               </h1>
               <div class="space">
                   <ion-avatar class="avat"  >
                    <img src="assets/images.jpg" >
                   </ion-avatar>
               </div>
           </div>
           
        </div>
      </ion-col>
     </ion-row>
     <ion-row>
        <ion-col size="6">
        <div class="Srow">
         <ion-item class = "it" color="sub.severityLevel">
              <ion-icon name="contacts" class="pad"></ion-icon>
             
              <ion-input  (ionChange)="changeExperience()" type="tel" clearInput readonly=false [(ngModel)]="experience" #Experience maxlength="2"   disabled={{notEnable}}>
                 Experience: {{experience}} 
              </ion-input>
          </ion-item >
          <!-- <ion-item color="sub.severityLevel" >
            <ion-icon name="business" class="pad"></ion-icon>
             
              <ion-input  clearInput  [(ngModel)]="myAddress" (ionChange)="changeAddress()" #Address  disabled={{notEnable}}  floating>
                 Adress: {{patientAddress}} 
              </ion-input>
              
          </ion-item> -->

          <ion-item  color="sub.severityLevel" >
          <ion-icon name="call" class="pad"></ion-icon>
              <ion-label>
                Mobile: {{mobile}}
              </ion-label>
            </ion-item>
  
            <ion-item  color="sub.severityLevel" >
                <ion-icon name="alarm" class="pad"></ion-icon>  
                <ion-label>
                  Coming session Date:12/12/2019      
                </ion-label>
               <ion-icon name="construct" ></ion-icon>
                </ion-item>

            <ion-item color="sub.severityLevel" >
                  <ion-icon name="clock" class="pad"></ion-icon>
                  
                    Latest session Date:12/12/2019
                  
                </ion-item>
  
                <ion-item  color="sub.severityLevel" (click)= "vitalClick()">
                    <ion-icon name="fitness" class="pad"></ion-icon>
                   
                      Vitals
                    
                  </ion-item>
         
        </div>
        </ion-col>
      </ion-row>
      <ion-row class="edit">
        <ion-col size="4">
        <ion-button shape="round" (click)="edit()" color="sub.severityLevel" style="color:black"> Edit </ion-button>
        </ion-col>
         <ion-col size="4" class="cancel">
        <ion-button  shape="round" (click)="save(Name.value,Age.value,Address.value)" color="sub.severityLevel" style="color:black"> Save </ion-button>
        </ion-col>
        <ion-col size ="4" class="fab">
            <app-fab></app-fab>

        </ion-col>
    
    </ion-row>

  </ion-grid>
  </ion-content>
  

