<ion-content>
  <div class="cover">
  <ion-grid >
    <ion-row>

        <ion-col>
        <img src="assets/clover.png"/>
        </ion-col>

        <ion-col>
        </ion-col>

        <ion-col>
        </ion-col>

    </ion-row>
    <ion-row>
          <ion-col>
          </ion-col>

          <ion-col> 
                <img src="assets/logo02.png"/>
                <h1 class="fat-free">Fat Free</h1>
          </ion-col>
          <ion-col>
          </ion-col>
    </ion-row>
  
    
    <ion-row>

      <ion-col>
        <div class="buttons">
          <div class="btnDiv">
             <ion-button class="button"   shape="round" (click)="login()"  color="light" >Login</ion-button>

          </div>
        
        </div>
         

      </ion-col>

          
    </ion-row>


</ion-grid>
</div>
</ion-content>


