<!-- <div *ngIf="showSplash" class="myBackground">
  <div>
  <img src="/assets/giphy.gif">
</div> 
</div>  -->

<!-- 
<div *ngIf="!showSplash"> -->

<ion-header >
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
 
    <ion-title *ngIf="doctor!=null"> Book Dr. {{doctor.name}} </ion-title>
  
  
    <ion-buttons slot="end"  margin-horizontal style="margin-left: 1vh;">
      
      <ion-icon  size="large" (click)="openStart()" name="calendar"> 
        
      <ion-datetime style="display:none"  #dateTime  min="{{today}}"
   
      max="2022-01-01"
      (ionChange)="ionChange(dateTime.value)"
      (ionCancel)="ionCancel(dateTime.value)"

      displayFormat="DDDD DD, MM, YYYY" pickerFormat="DDDD DD, MM, YYYY"
      
     ></ion-datetime>

      </ion-icon>

  </ion-buttons>
  
  </ion-toolbar>
    
</ion-header>



<ion-content >
    <ion-card *ngFor="let app of appointments" (click)="chooseAppointment(app)"
    style="margin-bottom: 10%;padding-bottom: 10%;  z-index: 0;" >
    <ion-card-header>      
        <ion-label>  {{app.date}}  </ion-label>
    </ion-card-header>
    <ion-card-content>      
      <ion-item>     
      <ion-icon name="alarm">   </ion-icon> 
      <ion-label> From {{app.start_time}} to {{app.end_time}}</ion-label>
      </ion-item>
      <ion-item> 
      <ion-icon style="position: absolute;right: 3%;color: #343a40;" name="arrow-forward"></ion-icon> 
      <ion-icon name="hourglass"></ion-icon>      
      <ion-label>    For: {{app.slot_duration}} minutes</ion-label>
      </ion-item>
    </ion-card-content>
        
        
    </ion-card> 

</ion-content>
<!-- </div> -->