<ion-content [scrollEvents]="true" class="cont">
 <ion-grid>
     <ion-row >
        <ion-toolbar class="tool" align-items-center> 
            Dr. {{recievername}}
         <ion-buttons slot="start">
            <ion-back-button defaultHref="home" (click)="goConv()"></ion-back-button>
         </ion-buttons>
        </ion-toolbar>
     </ion-row>
     <ion-row *ngFor="let newMsgs of newMessages">
         <ion-col offset="3" size="9" *ngIf="currentUser === newMsgs.sender_id ">
         <div  class="speech-bubble">
           
          
          <p class ="Cspace">{{newMsgs.msg_body}}</p><br>
          <div class="time" text-right>
            {{newMsgs.created_date}}
          </div>
         </div>
         </ion-col>
          <ion-col  size="9" *ngIf="currentUser !== newMsgs.sender_id">
         <div color="sub.severityLevel" class="speech-bubbleR">
           
          
          <p class ="Cspace">{{newMsgs.msg_body}}</p><br>
          <div class="time" text-right>
            {{newMsgs.created_date}}
          </div>
         </div>
         </ion-col>
    
     </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
 <ion-toolbar>
     <ion-row  align-items-center no-padding no-margin>
       <ion-col size="10">
         <ion-item>
            <ion-textarea  [(ngModel)]="replyContent" placeholder="Type your Message here..."  cols ="8" rows="2" class="typing"></ion-textarea>
         </ion-item>
       </ion-col>
       <ion-col size="2">
         <ion-button class="btn" color="sub.severityLevel"  [disabled]="replyContent===''" (click)="sendReply(tId)">
            <ion-icon name="paper-plane" ></ion-icon>
         </ion-button>
       </ion-col>
     </ion-row>
 </ion-toolbar>
</ion-footer>