.cover {
    background-image: url(/assets/path-6.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
          }
    
   
     .clover {
    
      background-image: url(/assets/clover.png);
    background-position: center;
    background-repeat: no-repeat;
    
    }
    .space{
      display: block;

        
    }
    .fat-free {
      justify-content: center;
      text-align: center;
      font-family: "Times New Roman", Times, serif;
      font-weight: bold;
      color: #0b0c0b;
      font-size:450;
      display: block;
    }
    
  .marginTop{
  
          margin-top: 7%;
          
      
    }
    
    .button{
      margin: 2% 0%;
      display: block;
      width: 65%;
      font-weight: 12%;
     
    }
  
    .centric{
      display: flex;
      justify-content: center;
      border-radius: 50%;
    }

ion-input {
  margin: 0px 50px;
  display: block;
  font-weight: 12%;
  border:  1px solid white;
}
.myBackground{
  position: absolute;
  width:100%;
  height:100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background:rgb(80, 185, 182);
  
  }
  .back{
    height: 100%;
    width:20%;
    margin-top: 2%;
    margin-left: 2%;
  }


