<ion-content >
  <div class="background">

  <ion-grid >
    <ion-row>
    <ion-button class="back" (click)= "backClick()"  shape="round" color="light">
              <ion-icon name="arrow-round-back"></ion-icon>
              
          </ion-button>
      <ion-col size="12">
        <div class="center">
            <h1 class="middle-text">My Patients</h1>
        </div>
        

      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of patientRow; let i=index">
      <ion-grid >
        <ion-row >
          <ion-col size="1">

          </ion-col>
          <ion-col size="10" class="card" >
            <ion-grid  >
              <ion-row >
                <!-- <ion-col size="4">
                    <img  class="small-icon" [src]="item.img">

                </ion-col> -->
                <ion-col size="8">
                  Doctor Id: {{item.patientId}} <br>
                  Dr/ {{item.name}} <br>
                  Mobile: {{item.mobile}} <br>

                  Email: {{item.email}} <br>
                  Age: {{item.age}} <br>
                  Address: {{item.address}} <br>
             </ion-col>

              </ion-row>
            </ion-grid>
            










      
          </ion-col>
          <ion-col size="1">
       
          </ion-col>
        </ion-row>
      </ion-grid>









    </ion-row>
  </ion-grid>
</div>

</ion-content>
