<ion-content [scrollEvents]="true" >
    <ion-refresher slot="fixed"  pullFactor="0.3" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="chevron-down-circle-outline"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing..."></ion-refresher-content>
    </ion-refresher>
    <ion-list>
    <ion-item *ngFor="let account of convList;let i=index; "class="card card-1" (click)="reply(account)">
        <ion-avatar slot="start" justify-content-center align-items-center>
            <img  *ngIf="!account.profile_img" class="img" src="assets/doctor1.jpeg">
            <img *ngIf="account.profile_img" class="img" src="{{account.profile_img}}">
                    </ion-avatar>
                    <ion-label>
                        <h2>{{ account.sender_name}}</h2>
                        <h3>{{account.msg_subject}}</h3>
                        <p>{{account.msg_body}}</p>
                    </ion-label>
                </ion-item>





                </ion-list>


            <ion-infinite-scroll  (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content
                                loadingSpinner="bubbles"
                                loadingText="Loading more data...">
              </ion-infinite-scroll-content>
              </ion-infinite-scroll>
</ion-content>              
