.small-icon{
    width: 60%;
    height:60%;
    margin-top: 30%;
    
  }
    
.img-holder{
    
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    transform-style: preserve-3d;
    border: whitesmoke solid 2px;
    
}
.read{
  font: bold;

}
.subtitle {
  font: medium;
}
.msg_holder{
  max-height: 5%;
}
.msg {
  max-height:50px;
  overflow: hidden;
  
  
}