<ion-content [scrollEvents]="true" >
<ion-grid >
<ion-row>
<ion-col size="12">
<ion-grid>
<ion-row *ngFor="let account of convList" class="img-holder" (click)="reply(account.thread_id)">
<ion-col size="3">
<div>
<img  class="small-icon" src="assets/doctor1.jpeg">
</div>
</ion-col>
<ion-col size="9">
<ion-grid >
<ion-row >

<article>
 <h4>{{ account.sender_name}}</h4>

        <h5  [ngClass]="{'read' : !account.is_readed}">{{account.msg_subject}}</h5>

</article>

       

</ion-row>
<ion-row >
<ion-col size="12">
<div class="msg_holder">
<p class="msg" > {{account.msg_body}} </p>
</div>
</ion-col>
</ion-row>
<ion-row>
<ion-col size="3"></ion-col>
<ion-col size="9">
<p>   {{account.created_date}}</p>
</ion-col>
</ion-row>
</ion-grid>


</ion-col>


</ion-row>
</ion-grid>


</ion-col>

</ion-row>
</ion-grid>
            <ion-infinite-scroll  (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content
                                loadingSpinner="bubbles"
                                loadingText="Loading more data...">
              </ion-infinite-scroll-content>
              </ion-infinite-scroll>
<ion-content>              