<ion-content>
<div *ngIf="showSplash" class="myBackground">
    <div>
    <img src="/assets/giphy.gif">
</div> 
</div> 
  <ion-grid class="background">
      <ion-row>
          <ion-col size="3" sizeLg="3" sizeSm="1" sizeMd="2" sizeXs="2">
          </ion-col>
          <ion-col size="6" sizeLg="6" sizeMd="8" sizeSm="10" sizeXs="8">
              <ion-toolbar >
                  <img class="logo" src="assets/011.png">
                  <div class="wrapper">
                      <div class="profile-img-frame">
                          <div class="profile-img-holder">
                              <img *ngIf="datastream.patient.profile_img" class="profile-img"  src="{{datastream.patient.profile_img}}"alt="profile image" (click)="NavigateMe('home/profile')">
                              <img *ngIf="!datastream.patient.profile_img" src="assets/avatar.jpg" (click)="NavigateMe('home/profile')">
                          </div>
                      </div>
                  </div>
                  <h1 class="middle-text user-name" text-uppercase>{{datastream.patient.name}}</h1>

              </ion-toolbar>

          </ion-col>
          <ion-col size="3" sizeLg="3" sizeSm="1" sizeMd="2" sizeXs="2"></ion-col>
      </ion-row>
<!--    <ion-row>-->
<!--      <ion-col >-->
<!--            &lt;!&ndash; <img class ="icon"src="assets/talin.png" > &ndash;&gt;-->
<!--  -->
<!--            <div class="center">-->
<!--              <ion-avatar class="avat" >-->
<!--                  <img src="{{datastream.patient.profile_img}}" (click)="NavigateMe('home/profile')">-->
<!--             </ion-avatar>-->
<!--            </div>-->
<!--            <h1 class="middle-text user-name">{{datastream.patient.name}}</h1>-->
<!--  -->
<!--              -->
<!--      </ion-col>-->

<!--    </ion-row>-->
  </ion-grid >
  <ion-row class="main-card">
    <ion-grid>
      <ion-row >
          <ion-col size="6"  >
              <div class="mini-card" (click)="NavigateMe('home/vitals')" >
                <div class="center" >
                    <img class="icon" src="assets/vitals3.png">

                </div>
                
                <div class="middle-text">
                   My Vitals
                </div>

                  
              </div>
            </ion-col>

          <ion-col size="6" >
              <div class="mini-card" (click)="conv()">
                  <div class="center" >
                      <img class="icon" src="assets/chat3.png">

                  </div>

                  <div class="middle-text">
                      Conversations
                  </div>
              </div>
          </ion-col>
      </ion-row>
      <ion-row>

            <ion-col size="6" >
              <div  class="mini-card" (click)="newMessage()" >
                  <div class="center" >
                      <img class="icon" src="assets/list3.png">
  
                  </div>
                  
                  <div class="middle-text">
                     Doctors List
                  </div>
              </div>
            </ion-col>
          <ion-col size="6"  >
              <div class="mini-card"  >
                  <div class="center" >
                      <img class="icon" src="assets/trainer3.png">

                  </div>

                  <div class="middle-text">
                      Trainers List
                  </div>
              </div>
          </ion-col>

      </ion-row>
      <ion-row>
        <ion-col size="6" >
            <div class="mini-card" (click)="NavigateMe('home/patient-schedule')">
                <div class="center" >
                    <img class="icon" src="assets/scheule3.png">

                </div>
                
                <div class="middle-text">
                   Schedule
                </div>
            </div>
          </ion-col>
          <ion-col size="6" >
            <div  class="mini-card" (click)="CreateNew()" >
                <div class="center" >
                    <img class="icon" src="assets/appoint3.png">

                </div>
                
                <div class="middle-text">
                   Add Appointment 
                </div>
            </div>
          </ion-col>

    </ion-row>
    </ion-grid>
  </ion-row>

<!--   <app-fab></app-fab>-->



</ion-content>
<!-- <ion-content>
  <ion-grid>
    <ion-row>
          
              <app-tab>
          
              </app-tab>
            
     
    </ion-row>
  </ion-grid>
</ion-content> -->


