<ion-content>


  <ion-grid class="background">
    <ion-row>
      <ion-col  >
         <div class="center" >
          <img class ="icon"src="assets/talin.png" >
         </div>
         <div class="middle-text user-name">
            User Name
         </div>

              
      </ion-col>

    </ion-row>
  </ion-grid>
  <ion-row class="main-card">
    <ion-grid>
      <ion-row>
          <ion-col col-6 >
              <div class="mini-card" (click)="NavigateMe('home/vitals')" >
                <div class="center" >
                    <img class="icon" src="assets/vitals2.png">

                </div>
                
                <div class="middle-text">
                   My Vitals
                </div>

                  
              </div>
            </ion-col>
            <ion-col col-6 >
              <div  class="mini-card">
                  <div class="center" >
                      <img class="icon" src="assets/clock.png">
  
                  </div>
                  
                  <div class="middle-text">
                     Schedule
                  </div>
              </div>
            </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-6 >
              <div class="mini-card">
                  <div class="center" >
                      <img class="icon" src="assets/addDoc.jpeg">
  
                  </div>
                  
                  <div class="middle-text">
                     Add Doctor
                  </div>
              </div>
            </ion-col>
            <ion-col col-6 >
              <div  class="mini-card">
                  <div class="center" >
                      <img class="icon" src="assets/trainer.jpg">
  
                  </div>
                  
                  <div class="middle-text">
                     Add trainer
                  </div>
              </div>
            </ion-col>

      </ion-row>
      <ion-row>
          <ion-col col-6 >
              <div class="mini-card" (click)="NavigateMe('home/profile')">
                  <div class="center" >
                      <img class="icon" src="assets/list.png">
  
                      
                  </div>
                  
                  <div class="middle-text">
                     Doctors List
                  </div>
              </div>
            </ion-col>
            <ion-col col-6 >
              <div  class="mini-card" >
                  <div class="center" >
                      <img class="icon" src="assets/list.png">
  
                  </div>
                  
                  <div class="middle-text">
                     Trainers List
                  </div>
              </div>
            </ion-col>

      </ion-row>
    </ion-grid>
    
  
  </ion-row>
</ion-content>


