$gray: #92959E;
$white:#F0F3BD;
@font-face {
  font-family: Forte;
  src: url(/assets/fonts/FORTE.ttf);
}

  ion-content{
  height: 100%;
  width: 100%;
  margin: 0px;

}
//to control rows height
.grid {
  display:grid;
  grid-template-rows: auto;
  grid-gap:10px;
  //height: calc(100vh - 10px);
}

#item{
  display:grid;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#item2 {
  display: grid;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.icon{
  //margin-bottom: -60%;
  //color: #0ec254;
}
.box{
  /* Basic styling and alignment */
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  //margin-left: auto;
  //margin-right: auto;
  border-radius:4px;
  /* Basic styling and alignment */  /* For Neumorphism Effect */
  //background-color:whitesmoke;
  //box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
  ///* For Neumorphism Effect */
}

//title
  .middle-text{
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;

  }
  //main background
  .background{
    //background: #e7e7e7;
    height: 100%;
    overflow: scroll;
  }
  //first row

.f-row{
  //background: linear-gradient(#7fddef 16%, #8de5d3 73%);
  background: #02C39A;
  margin: -5px;
  font-size: 2em;
}
  .small-icon{
    width: 80%;
    height:80%;
    margin-top: 20%;
}

.card{

  box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
  //box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
  overflow: hidden;
  //color: #3aa087;
  color: rgba(0,0,0,0.65);
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  border-radius: 20px;
}
.wrapper{
  position: relative;
}
//.profile-img-frame{
//  display: flex;
//  align-content: center;
//  align-items: center;
//  justify-content: center;
//  width: 120px;
//  height: 120px;
//  min-height: 95px;
//  min-width: 95px;
//  margin-left: 15%;
//  margin-top: 0.5%;
//  margin-bottom: 0.5%;
//  background-size: cover;
//  background-repeat: no-repeat;
//  //background-position: center center;
//  border-radius: 50%;
//  box-shadow: inset 0 0 0 5px white;
//
//
//}

.profile-img-holder{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  background-color:$white;
  color: white;
  margin-top: 20%;
  width: 70px;
  height: 70px;
  overflow: hidden;
}
.profile-img{
  display: inline;
  width:100%;
  height: 100%;
  color: white;
  align-items: center;
  justify-content: center;


}
//ion search bar style at global style sheet


