<ion-content >
  <div class="background">

  <ion-grid class="grid">
<!--  //first row  -->
    <ion-row class="f-row">
    <ion-button class="back" (click)= "backClick()"  shape="round" color="light">
              <ion-icon name="arrow-round-back"></ion-icon>
              
          </ion-button>
      <ion-col size="12">
        <div class="center middle-text" >
            <h1 >My Doctors</h1>
        </div>
        

      </ion-col>
    </ion-row>
<!--    -->

<!--  //second row  -->
    <ion-row *ngFor="let item of doctorRow; let i=index">
      <ion-grid >
<!--        //first nested row-->
        <ion-row >
          <ion-col size="1">

          </ion-col>
          <ion-col size="10" class="card" >
            <ion-grid  >
<!--          //second nested row    -->
              <ion-row >
                <!-- <ion-col size="4">
                    <img  class="small-icon" [src]="item.img">

                </ion-col> -->
                <ion-col size="8">
                  Doctor Id: {{item.doctorId}} <br>
                  Dr/ {{item.name}} <br>
                  <!-- {{item.email}} <br> -->
                  Years Experience: {{item.years_experience}}
             </ion-col>

              </ion-row>
<!--              -->
            </ion-grid>
            










      
          </ion-col>
          <ion-col size="1">
       
          </ion-col>
        </ion-row>
<!--        -->
      </ion-grid>









    </ion-row>
<!--    -->
  </ion-grid>
</div>

</ion-content>
