<ion-header>
    <ion-toolbar>
        <ion-row class="f-row">
            <ion-col >
                <ion-grid id="item">
                    <ion-row>
                        <ion-col size="4">
                            <ion-button (click)= "backClick()"  shape="round" color="light" >
                                <ion-icon name="arrow-round-back"></ion-icon>
                            </ion-button>
                        </ion-col>
                        <ion-col size="8">
                            <h1>My Doctors</h1>
                        </ion-col>
                    </ion-row>

                    <ion-row >
                        <ion-col size="12">
                            <ion-searchbar
                                    (ionInput)="filterList($event)"
                            ></ion-searchbar>

                        </ion-col>




                    </ion-row>
                </ion-grid>



            </ion-col>
        </ion-row>
    </ion-toolbar>

</ion-header>

<ion-content >
  <div class="background">

  <ion-grid class="grid">
    <ion-row *ngFor="let item of doctorArrayList; let i=index" >
      <ion-grid >
<!--        //first nested row-->
        <ion-row >
          <ion-col size="12" class="card" >
            <ion-grid >
<!--          //second nested row    -->
              <ion-row >
                 <ion-col  size="3" (click)="Resolve_DocData('home/doctorProfile/chat',item)">
                    <img  class="small-icon" src="assets/doctor1.jpeg" align-self-sm-center>
                </ion-col>
                <ion-col size="9">

                    <ion-grid  id="item2">

                        <ion-row (click)="Resolve_DocData('home/doctorProfile/chat',item)">
                            <h3>Dr/ {{item.name}}</h3>
                        </ion-row>
                        <ion-row>

                        </ion-row>

                        <ion-row >
                            <ion-col size="3"  sizeSm="1" >

                            </ion-col>
                            <ion-col sizeLg="9" sizeMd="9" sizeSm="11">
                                <ion-grid  >
                                    <ion-row >
                                        <ion-col (click)="consultDoc(item)">
                                            <ion-icon class="icon" name="chatboxes" size="large" ></ion-icon>

                                        </ion-col>
                                        <ion-col>
                                            <ion-icon class="icon" name="call" size="large"></ion-icon>
                                        </ion-col>
                                        <ion-col>
                                            <ion-icon class="icon" name="calendar"size="large"></ion-icon>

                                        </ion-col>
                                    </ion-row>
                                </ion-grid>



                            </ion-col>
                        </ion-row>
                    </ion-grid>
             </ion-col>

              </ion-row>
<!--              -->
            </ion-grid>

          </ion-col>
        </ion-row>
<!--        -->
      </ion-grid>









    </ion-row>
<!--    -->
  </ion-grid>
</div>

</ion-content>

