@font-face {
  font-family: Forte;
  src: url(/assets/fonts/FORTE.ttf);
}

  ion-content{
  height: 100%;
  width: 100%;
  margin: 0px;
}
//to control rows height
.grid {
  display:grid;
  grid-template-rows: auto;
  grid-gap:10px;
  //height: calc(100vh - 10px);
}

#item{
  display:grid;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#item2 {
  display: grid;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.icon{
  margin-bottom: -60%;



}

//title
  .middle-text{
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;

  }
  //main background
  .background{
    //background: #e7e7e7;
    height: 100%;
    overflow: scroll;
  }
  //first row
.f-row{
  background: linear-gradient(#7fddef 16%, #8de5d3 73%);
  margin: -5px;
  font-size: 2em;
}
  .small-icon{
    width: 80%;
    height:80%;
    margin-top: 20%;
}

.card{
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
  overflow: hidden;
  //color: #3aa087;
  color: rgba(0,0,0,0.65);
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  border-radius: 20px;
}
//ion search bar style at global style sheet


