<ion-header >
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
 
    <ion-title > Schedule</ion-title>

    <ion-buttons slot="end"  margin-horizontal  >
      <ion-button slot="start" class="new" (click)="CreateNew()" size="small" style="font-size: xx-small; color:white;" text-center   >
          <div class="wrapper">
              <ion-icon  name="add" size="large"></ion-icon>
          </div>
      </ion-button>
  </ion-buttons>
  
  </ion-toolbar>
    
</ion-header>



<ion-content >
  <ion-grid style="width: 90%;margin-top: 2%;" >
        <ion-row>
                <ion-col [style.background-color]="checkIfEqualToday(1)? '#02C39A' : 'transparent'" size="4">
                        <div (click)="tabClick(1)">Past</div>
                </ion-col>
                <ion-col class="border" [style.background-color]="checkIfEqualToday(0)? '#02C39A' : 'transparent'" size="4" >
                  <div (click)="tabClick(0)">Today</div>
                </ion-col>
                <ion-col [style.background-color]="checkIfEqualToday(-1)? '#02C39A' : 'transparent'" size="4" >
                  <div (click)="tabClick(-1)">Upcoming</div>
                </ion-col>
            </ion-row>
      </ion-grid>
  
  <ion-list>

    <ion-item *ngFor="let app of appointments" (click)="sendAndNavigate(app)" >
      <ion-label > 

    


        
        <h2><p class="ion-text-end" style="color: red;position: absolute;right: 2vh;"> 
        {{checkOnSoon(app.date,app.start_time)}} </p>
        {{app.date}} </h2>
        <h4 class="colorGrey">With: Dr. {{app.doctor.name}}</h4>
        <ion-icon style="position: absolute;right: 3%;color: #343a40;"
         name="arrow-forward"></ion-icon>
        <p class="colorGrey" >Start Time: {{app.start_time}}</p>
        <p class="colorGrey" >End Time: {{app.end_time}}</p>
        <p class="colorGrey">Duration: {{app.slot_duration}} minutes </p>
        
      </ion-label>
    </ion-item>

    
  </ion-list>

</ion-content>