<!--<ion-content class="cont" >-->
<!--  <ion-grid>-->
<!--    <ion-row class ="myrow">-->
<!--      <ion-col size="12">-->
<!--        <div class="wrapper" >-->
<!--          <div class="wave"></div>-->
<!--          <div>-->
<!--          <ion-button class="back" (click)= "backClick()"  shape="round" color="sub.severityLevel" style="color:black">-->
<!--              <ion-icon name="arrow-round-back" ></ion-icon>-->
<!--          </ion-button>-->
<!--          </div>-->
<!--          <div >-->
<!--              <h1 class="centered">-->
<!--                <ion-input clearInput #Name disabled={{notEnable}} (ionFocus)="changeName()"  [(ngModel)]="myName" >-->
<!--                     {{patientName}}-->
<!--                 </ion-input>-->
<!--               </h1>-->
<!--               <div class="space">-->
<!--                   <ion-avatar class="avat"  >-->
<!--                    <img src="assets/images.jpg" >-->
<!--                   </ion-avatar>-->
<!--               </div>-->
<!--           </div>-->
<!--           -->
<!--        </div>-->
<!--      </ion-col>-->
<!--     </ion-row>-->
<!--     <ion-row>-->
<!--        <ion-col size="6">-->
<!--        <div class="Srow">-->
<!--         <ion-item class = "it" color="sub.severityLevel">-->
<!--              <ion-icon name="contacts" class="pad"></ion-icon>-->
<!--             -->
<!--              <ion-input  (ionFocus)="changeAge()" type="tel" clearInput readonly=false [(ngModel)]="myAge" #Age maxlength="2"   disabled={{notEnable}}>-->
<!--                 Age: {{patientAge}} -->
<!--              </ion-input>-->
<!--          </ion-item >-->
<!--          <ion-item color="sub.severityLevel" >-->
<!--            <ion-icon name="business" class="pad"></ion-icon>-->
<!--             -->
<!--              <ion-input  clearInput  [(ngModel)]="myAddress" (ionFocus)="changeAddress()" #Address  disabled={{notEnable}}  >-->
<!--                 Adress: {{patientAddress}} -->
<!--              </ion-input>-->
<!--              -->
<!--          </ion-item>-->

<!--          <ion-item  color="sub.severityLevel" >-->
<!--          <ion-icon name="call" class="pad"></ion-icon>-->
<!--              <ion-label>-->
<!--                Mobile: {{mobile}}-->
<!--              </ion-label>-->
<!--            </ion-item>-->
<!--  -->
<!--            <ion-item  color="sub.severityLevel" >-->
<!--                <ion-icon name="alarm" class="pad"></ion-icon>  -->
<!--                <ion-label>-->
<!--                  Coming session Date:12/12/2019      -->
<!--                </ion-label>-->
<!--               <ion-icon name="construct" ></ion-icon>-->
<!--                </ion-item>-->

<!--            <ion-item color="sub.severityLevel" >-->
<!--                  <ion-icon name="clock" class="pad"></ion-icon>-->
<!--                  -->
<!--                    Latest session Date:12/12/2019-->
<!--                  -->
<!--                </ion-item>-->
<!--  -->
<!--                <ion-item  color="sub.severityLevel" (click)= "vitalClick()">-->
<!--                    <ion-icon name="fitness" class="pad"></ion-icon>-->
<!--                   -->
<!--                      Vitals-->
<!--                    -->
<!--                  </ion-item>-->
<!--         -->
<!--        </div>-->
<!--        </ion-col>-->
<!--      </ion-row>-->
<!--      <ion-row class="edit">-->
<!--        <ion-col size="4">-->
<!--        <ion-button shape="round"  (click)="edit()" color="sub.severityLevel" style="color:black"> Edit </ion-button>-->
<!--        </ion-col>-->
<!--         <ion-col size="4" class="cancel">-->
<!--        <ion-button  shape="round" (click)="save(Name.value,Age.value,Address.value)" color="sub.severityLevel" style="color:black"> Save </ion-button>-->
<!--        </ion-col>-->
<!--        <ion-col size ="4" class="fab">-->
<!--            <app-fab></app-fab>-->

<!--        </ion-col>-->
<!--    -->
<!--    </ion-row>-->

<!--  </ion-grid>-->
<!--  </ion-content>-->
<!--  -->
<div *ngIf="spinnerState" class="myBackground">
    <div>
        <img src="/assets/giphy.gif">
    </div>
</div>
<ion-content class="ion-content">
    <ion-grid>
        <ion-row>
            <ion-col size="3" sizeLg="3" sizeSm="1" sizeMd="2" sizeXs="2"></ion-col>
            <ion-col size="6" sizeLg="6" sizeMd="8" sizeSm="10" sizeXs="8">
                <ion-toolbar text-center>
                    <p>My Profile</p>
                    <div class="wrapper">
                        <div class="profile-img-frame">
                            <div class="profile-img-holder">
                                <img  *ngIf="image" class="profile-img"  src="{{image.path}}"alt="profile image">
                                <img  *ngIf="!image" class="profile-img"  src="assets/avatar.jpg"alt="profile image">
                            </div>
                        </div>
                        <div class="camera" (click)="selectImage()">
                            <ion-icon name="camera"  color="white" size="large"></ion-icon>
                        </div>
                    </div>
                    <p style="font-size: 25px">{{InputData[0].value}} </p>

                </ion-toolbar>

            </ion-col>
            <ion-col size="3" sizeLg="3" sizeSm="1" sizeMd="2" sizeXs="2"></ion-col>
        </ion-row>
        <ion-row class="inputs">
            <ion-item *ngFor="let item of InputData ;" class="ion-input">
                <ion-label position="floating">{{item.label}}</ion-label>
                <ion-input [(ngModel)]=item.value  type="{{item.type}}" #input  disabled="{{save_state}}"></ion-input>
            </ion-item>
        </ion-row>
        <ion-row  >
            <ion-toolbar >
                <div class="buttons-tool_bar">
                    <ion-buttons >
                        <ion-button class="ion-button" (click)="save()"> save </ion-button>
                        <ion-button class="ion-button" (click)="edit()"> Edit </ion-button>
                    </ion-buttons>


                </div>

            </ion-toolbar>

        </ion-row>

    </ion-grid>


</ion-content>

<!--    <ion-grid>-->
<!--        <ion-row>-->
<!--            <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let image of [1,2,3,4,5,6,7,8,9]">-->
<!--                <div >-->
<!--                    <img src="assets/doctor1.jpeg">-->
<!--                </div>-->
<!--            </ion-col>-->
<!--        </ion-row>-->
<!--    </ion-grid>-->
