<ion-content class="cont" >
<div *ngIf="showSplash" class="myBackground">
    <div>
    <img src="/assets/giphy.gif">
</div> 
</div> 
  <ion-grid class="btn">
    <ion-row >
      <ion-col size="12" class="opp">
        <div class ="hero-image" >
     
          <ion-button class="back" (click)= "backClick()"  shape="round" color="light">
              <ion-icon name="arrow-round-back"></ion-icon>
              
          </ion-button>
          <div >
          <h1 class="centered">
           <ion-input clearInput #Name disabled={{notEnable}} (ionChange)="changeName()" #Name [(ngModel)]="myName" floating>
           {{patientName}}
           </ion-input>
          </h1>
          
            <div class="space">
                <ion-avatar class="avat"  >
                    <img src="assets/images.jpg" >
               </ion-avatar>
              </div>
      
          </div>
           
        </div>
      </ion-col>
  
      
    </ion-row>
  
    <ion-row >
      <ion-col size="12">
          <ion-item  class="it">
              <ion-icon name="contacts" class="pad"></ion-icon>
             
              <ion-input  (ionChange)="changeAge()" clearInput readonly=false [(ngModel)]="myAge" #Age maxlength=2  disabled={{notEnable}}  floating>
                 Age: {{patientAge}} 
              </ion-input>
              
          </ion-item>
           <ion-item  class="it">
            <ion-icon name="subway" class="pad"></ion-icon>
             
              <ion-input  clearInput  [(ngModel)]="myAddress" (ionChange)="changeAddress()" #Address  disabled={{notEnable}}  floating>
                 Adress: {{patientAddress}} 
              </ion-input>
              
          </ion-item>
  
  
          <ion-item  class="it">
          <ion-icon name="finger-print" class="pad"></ion-icon>
              <ion-label>
                My doctor's Code:{{code}}
              </ion-label>
            </ion-item>
  
            <ion-item  class="it" >
                <ion-icon name="alarm" class="pad"></ion-icon>  
                <ion-label>
                  Coming session Date:12/12/2019      
                </ion-label>
               <ion-icon name="construct" ></ion-icon>
                </ion-item>
            <ion-item  class="it">
                  <ion-icon name="clock" class="pad"></ion-icon>
                  
                    Latest session Date:12/12/2019
                  
                </ion-item>
  
                <ion-item  (click)= "vitalClick()" class="it">
                    <ion-icon name="fitness" class="pad"></ion-icon>
                   
                       My Vitals
                    
                  </ion-item>
        </ion-col>
    </ion-row>
        <ion-row class="edit">
        <ion-col size="4">
        <ion-button class="grad" shape="round" (click)="edit()"> Edit Profile </ion-button>
        </ion-col>
         <ion-col size="4" class="cancel">
        <ion-button class="grad" shape="round" (click)="save(Name.value,Age.value,Address.value)"> Save Edit </ion-button>
        </ion-col>
         <ion-col size="4" >
        <ion-button class="grad" shape="round" (click)="cancel()"> Cancel Edit </ion-button>
        </ion-col>
    </ion-row>
           <app-fab></app-fab>
  </ion-grid>
  </ion-content>
  

