<ion-content class="cont" >
<div *ngIf="showSplash" class="myBackground">
    <div>
    <img src="/assets/giphy.gif">
</div> 
</div> 
  <ion-grid class="btn">
    <ion-row >
      <ion-col size="12" class="opp">
        <div class ="hero-image" >
     
          <ion-button class="back" (click)= "backClick()"  shape="round" color="light">
              <ion-icon name="arrow-round-back"></ion-icon>
              
          </ion-button>
          <div ><h1 class="centered">{{patient}}</h1>
          
            <div class="space">
                <ion-avatar class="avat"  >
                    <img src="assets/images.jpg" >
               </ion-avatar>
              </div>
      
          </div>
           
        </div>
      </ion-col>
  
      
    </ion-row>
  
    <ion-row  >
      <ion-col size="12">
          <ion-item  class="it">
              <ion-icon name="contacts"></ion-icon>
             <ion-label>
               Contacts: 0{{cont}} 
              </ion-label>
          </ion-item>
  
          <ion-item  class="it">
              <ion-icon name="finger-print"></ion-icon>
              <ion-label>
                Patient Code:123456789
              </ion-label>
            </ion-item>
  
            <ion-item  class="it" >
                <ion-icon name="alarm"></ion-icon>  
                <ion-label>
                  Coming session Date:12/12/2019      
                </ion-label>
               <ion-icon name="construct"></ion-icon>
                </ion-item>
            <ion-item  class="it">
                  <ion-icon name="clock"></ion-icon>
                  <ion-label>
                    Latest session Date:12/12/2019
                  </ion-label>
                </ion-item>
  
                <ion-item  (click)= "vitalClick()" class="it">
                    <ion-icon name="fitness" ></ion-icon>
                    <ion-label>
                        Click here to see Patient vitals
                    </ion-label>
                  </ion-item>
        </ion-col>
        </ion-row>
    
       
           <app-fab></app-fab>
  </ion-grid>
  </ion-content>
  

