
.cont{
  height: 100%;
  width: 100%;
  margin: 0px;
}

.btn{
  margin:-2%;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0%;
  }
  .centered {
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-30%, -40%);
    color: white;
    text-align: center;
    // font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .avat{
    width:100% !important;  
    height : 100% !important;  
    max-width: 150px !important;  
    max-height: 150px !important; 
  }
  .hero-image {
     margin: 0px;
    background-image: url(/assets/path4.png); 
  }
  .space{
    padding-top: 138px;
    padding-left: 20px;
  }
  .it{
      max-width: 300px;
  }
  .men{
    padding-left: 0px;
    margin-left: 0px;
  }
  .grad  {
    --background: linear-gradient(
    to bottom,
    #0a5279 0%,
    #80d3cb 100%)
    
}
.but-pad{
    padding-top:50px;
   
}

 .back{
    margin-top: 2%;
    margin-left: 2%;
  }
  .outer {
    margin-bottom: 40px;
    color:  #0bb8cc
    
  }
  .myBackground{
    position: absolute;
    width:100%;
    height:100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgb(80, 185, 182);
    
    }
    .edit{
      margin-left: 7%;
    }
  .pad{
    padding-right: 3%;
  }
  .cancel{
    margin-right:-5%;
  }