
ion-row{
    margin-bottom: -1%;
    
}
.background{
  margin: 0px;
  padding: 0px;
  background: white;
  

  
}

.clicked{
  position:relative;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
  transform-style: preserve-3d;
  margin-top: 10%;
  border: blue solid 2px;
}



.center{
  
  text-align: center;

}
.Right{
  text-align: right; 
}
.icon-holder{
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 10px;
  text-align: center;
  margin: 2.5%;

 
}
.Floating-icon{

  -webkit-animation: flickr 0.7s ease-in-out 0.1s 1 alternate both;
  animation: flickr 0.7s ease-in-out 0.1s 1 alternate both;
  animation-iteration-count: infinite;

}
.main-card {
  width:100%;
  height:100%;
  transform-style: preserve-3d;
  background:white;
  flex-grow : 1;
  
  
}
.vitals-from{
  background:white;
  width:100%;
  height:100%;
  
  
  
  
}
.vital-row{
  border-bottom:#5DBB47 solid 1px;
  margin-top: 7%;

}
.mini-card{
  position:relative;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
  transform-style: preserve-3d;
  margin-top: 10%;
  border: whitesmoke solid 2px;
 
}
.icon{
  width:100%;
  height: 100%;
  margin: 5%;
  
  
}
.small-icon{
    width: 60%;
    height:60%;
    margin-top: 30%;
    
}
.small-icon-us{
  width: 60%;
  height:60%;
  margin-top: 80%;
  margin-left:50% ;
  
}
.middle-text{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top:2%;
  margin-bottom: 2%;
 
}
.start-text{
    text-align: start;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: 2em;
   
    
   
    
  }
.user-name{
  color: white;
  font: 2.5em Open-sans;
}
.input{
    margin-top: 10%;
}
@-webkit-keyframes flickr {
  0%   {left:0px; top:0px;}
  50%  { top:-5px;}
  100% { top:5px;}
}

@keyframes flickr {
  0%   {left:0px; top:0px;}
  50%  { top:-5px;}
  100% { top:5px;}
}
