
 
<ion-content  [scrollEvents]="true" >
    <ion-grid class="background">
      <ion-row >
            <ion-back-button defaultHref="home"></ion-back-button>

      <ion-col size="12">
           <img class="vital" src="assets/vitals_n.png">
      </ion-col>   
      </ion-row>
      <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="7" class="title">
           <div class="header ">
               <p> My Vital</p>
              </div>
      </ion-col></ion-row>
      <ion-row class="main-card">
        <ion-col size="1"></ion-col>
        <ion-col size="10" class="vitals-from">
          <ion-grid class="vital-holder">
            <ion-row class="vital-row" *ngFor="let item of vitalrow; let i=index">
              <ion-col size="3" [ngClass]="{'Floating-icon' : !item.isDisabled}">
               
                    <img  class="small-icon" [src]="item.icon">
        
        
              </ion-col>
              <ion-col size="5">
                  <div class="input">
                      <ion-label class="start-text" stacked>{{item.label}}</ion-label>
                      <ion-input [(ngModel)]=item.input  type="number" #input [placeholder]="item.place_holder"  disabled="{{item.isDisabled}}" ></ion-input>
                    </div>
              </ion-col>
              <ion-col size="4">
                <ion-grid>
                  
                  <ion-row>
                    <ion-col size="6">
                        <img class="small-icon-us" src="assets/edit.png" (click)="Update(item)"> 
                    </ion-col>
                    <ion-col size="6">
                        <img class="small-icon-us" src="assets/save.png" (click)="Save(item,input.value)">

                    </ion-col>
                  </ion-row>
                </ion-grid>
                  
                   
              </ion-col>
            </ion-row>

              
          </ion-grid>
            
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
         <app-fab></app-fab>

      </ion-row>
     
    </ion-grid>
    
  </ion-content>
  